
// Nav block
.toc {
}

// Menu element
.toc__menu {
  @include respond-to("medium") {
    // positional
    position: relative;
    transform: translate3d(0, 0, 0);
    z-index: auto;

    // appearance
    background-color: inherit;
    box-shadow: inherit;
    opacity: 1;
  }
}

// Menu Items element

.toc__menu-items {

  margin-top: $gutter-scale2;

  p {
    @extend .pussshy__menu-items-link;
    margin: 0;
    padding: $gutter-scale-2  $gutter-scale-2 0 $gutter-scale;
    margin-left: 3px;
    border-top: none;
    border-bottom: none;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 0.85em;
    &:hover {

    }

  }

  li:last-child {
    margin-bottom: $gutter-scale-2;
  }
  li li a {
    padding: $gutter-scale-4  $gutter-scale1 $gutter-scale-4 $gutter-scale ;
  }

  @include respond-to("medium") {
    padding-right: $gutter-scale1;
    margin-top: 0;
    li.active {
      background-color: lighten($pussshy-menu-item-link-active-background-color, 60%);
      a {
        color: $pussshy-menu-item-link-color;
      }
    }
  }
}
