<nav class="toc__menu">

    <ul class="toc__menu-items">

        <li>
            <p>{{ site.title }}</p>
            <ul>
                <li class="{% if page.url == '/index.html' %}active{% endif %}"><a class="nav-list-group-item-link" href="{{ site.baseurl }}/">Home </a></li>
            </ul>
        </li>
        {% for _collection in site.collections %}
        {% for collection in _collection %}
        {% if site.navigation != 0 and site.navigation == 1 or collection.docs.size > 0 %}
        {% assign sorted_docs = collection.docs | sort: 'order' %}
        <li>
            <p>{{ collection.title }}</p>
            <ul>
                {% for doc in sorted_docs %}
                {% if site.showDrafts == true or doc.draft != true %}
                {% if doc.subLevel == 1 %}
                <li class="{% if page.url and page.url == doc.url %}active{% endif %}"><a href="{{ site.baseurl }}{{ doc.url }}"> &mdash; {{ doc.title }}</a></li>
                {% else %}
                <li class="{% if page.url and page.url == doc.url %}active{% endif %}"><a href="{{ site.baseurl }}{{ doc.url }}">{{ doc.title }}</a></li>
                {% endif %}
                {% endif %}
                {% endfor %}
            </ul>
        </li>
        {% endif %}
        {% endfor %}
        {% endfor %}
    </ul>

</nav>
