.landing-header {
  margin: $gutter-scale 0 $gutter-scale;
  @include respond-to('medium') {
    margin: $gutter-scale1 0 $gutter-scale;
  }
}

.landing-header__menu-button {
  display: inline-block;
  @include respond-to('medium') {
    display: none;
  }
}

.landing-header__content {
  margin: 0;
  @include respond-to('medium') {
    display: block;
  }
}