---
layout: demo
---

<div class="blocks-page"
     data-block-name="pages/blocks"
     data-block-type="runnable">

    <h3>Brand</h3>

    <dl>
        <dt>Simple <code>include brand/brand.html</code></dt>
        <dd>
            {% include brand/brand.html %}
        </dd>

    </dl>

    <hr/>

    <h3>Buttons</h3>

    <dl>
        <dt>Collapsible Menu Button <code>include buttons/collapsible-menu-button/collapsible-menu-button.html</code>
        </dt>
        <dd>
            {% include buttons/collapsible-menu-button/collapsible-menu-button.html %}
        </dd>

    </dl>

    <hr/>

    <h3>Nav</h3>

    <dl>
        <dt>Nav Menu <code>include nav/nav__menu.html</code></dt>
        <dd>
            {% include nav/nav__menu.html %}
        </dd>
        <dt>Nav Menu Button <code>include nav/nav__menu-button.html</code></dt>
        <dd>
            {% include nav/nav__menu-button.html %}
        </dd>
    </dl>

    <hr/>

    <h3>TOC</h3>

    <dl>
        <dt>TOC Menu <code>include toc/toc__menu.html</code></dt>
        <dd>
            {% include toc/toc__menu.html %}
        </dd>
        <dt>TOC Menu Button <code>include toc/toc__menu-button.html</code></dt>
        <dd>
            {% include toc/toc__menu-button.html %}
        </dd>
    </dl>

    <hr/>

    <h3>Headers</h3>
    <dl>
        <dt>Landing header <code>include headers/landing-header/landing-header.html</code></dt>
        <dd>
            {% include headers/landing-header/landing-header.html %}
        </dd>

        <dt>Documentation header <code>include headers/documentation-header/documentation-header.html</code></dt>
        <dd>
            {% include headers/documentation-header/documentation-header.html %}
        </dd>

    </dl>

    <hr/>

    <h3>Footers</h3>

    <dl>
        <dt>Simple footer <code>include footers/simple-footer/simple-footer.html</code></dt>
        <dd>
            {% include footers/simple-footer/simple-footer.html %}
        </dd>
    </dl>

    <hr/>

    <h3>Miscellaneous</h3>

    <dl>
        <dt>Colour palette showcase <code>include color-palette-showcase/color-palette-showcase.html</code></dt>
        <dd>
            {% include color-palette-showcase/color-palette-showcase.html %}
        </dd>

    </dl>

    <hr/>
</div>
