.simple-footer {
  height: $footer-content-simple-height;
  font-size: 0.9em;
  padding: $gutter-scale2;
  text-align: center;
  background-color: $grayscale-color-tint-5;
  @include respond-to('medium') {
    margin-top: $gutter-scale2;
    padding-top: $gutter-scale3;
  }
}
