.documentation-header {
  margin: $gutter-scale-1 0 $gutter-scale;
  @include respond-to('medium') {
    margin: $gutter-scale1 0 $gutter-scale;
  }
}
.documentation-header__menu-button {
  display: inline-block;
  @include respond-to('medium') {
    display: none;
  }
}

.documentation-header__content {
  display: none;
  .brand-simple {
    display: inline-block;
    padding: $gutter-scale-2 0;
  }
  @include respond-to('medium') {
    display: block;
  }
}