
.ampersand { @extend %ampersand-placeholder; }

// Styles: Headers
// -------------------------------------//
h1,
h2,
h3,
h4,
h5,
h6,
{
  font-family: $font-family-header;
}
h1,
h2,
h3 {
  font-weight: normal;
}
h4,
h5,
h6,
{
  font-weight: bold;
}


// Styles: Sub-headers
// -------------------------------------//
.sub-header {
  font-family: $font-family-sub-header;
}

// Styles: Paragraph leads
// -------------------------------------//
.lead {
  font-family: $font-family-text-lead;
  @extend .delta;
}

// Styles: Block quotes and pull quotes
// -------------------------------------//
blockquote {
  font-family: $font-family-quotes;
}

hr {
  border: none;
  border-top: 1px solid $horizontal-rule-color;
  margin: $gutter-scale 0;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: color 100ms linear;
  &:visited {
    color: $link-visited-color;
  }
  &:hover {
    color: $link-hover-color;
  }
  &:active {
    color: $link-active-color;
  }
}

// Styles: Syntax highlight override
// -------------------------------------//

code, kbd, pre, samp {
  line-height: 1.4em;
}
code {
  border: 1px solid $grayscale-color-tint-5;
  border-radius: 2px;
  background-color: $grayscale-color-tint-6;
  padding: 0.2em 0.5em;
  margin: 0.2em 0.2em;
  line-height: 0.8em;
  @include word-wrap(normal);
  hyphens: none;
}
.highlight {
  border: 1px solid $grayscale-color-tint-6;
  border-radius: 10px;
  background-color: $grayscale-color-tint-6;
  margin: auto auto 1.5em;
  padding: 0;

  pre {
    margin: $gutter-scale $gutter-scale1;
  }
  code {
    border: none;
    background-color: inherit;
    padding: 0;
    margin: 0;
  }
}

ul {
  margin: auto auto 1.5em;
}

// Styles: Description list
// -------------------------------------//

.config-list {
  dt {
    font-weight: bold;
  }
}