@import "font_family";
@import "variables";
@import "typeplate-modified";

.ampersand { @extend %ampersand-placeholder; }

// Styles: Headers
// -------------------------------------//
h1,
h2,
h3,
h4,
h5,
h6,
{
  font-family: $font-family-header;
}
h1,
h2 {
  font-weight: normal;
}
h3,
h4,
h5,
h6,
{
  font-weight: bold;
}


// Styles: Sub-headers
// -------------------------------------//
.sub-header {
  font-family: $font-family-sub-header;
}

// Styles: Paragraph leads
// -------------------------------------//
.lead {
  font-family: $font-family-text-lead;
  @extend .delta;
}

// Styles: Block quotes and pull quotes
// -------------------------------------//
blockquote {
  font-family: $font-family-quotes;
}