<div class="color-palette-showcase">

    <div class="color-palette-container primary-color-palette">
        <div class="color-palette"></div>
        <div class="color-palette-shifts">
            <div class="tint-shift-1"></div>
            <div class="tint-shift-2"></div>
            <div class="tint-shift-3"></div>
            <div class="tint-shift-4"></div>
            <div class="tint-shift-5"></div>
        </div>
        <div class="color-palette-shifts">
            <div class="shade-shift-1"></div>
            <div class="shade-shift-2"></div>
            <div class="shade-shift-3"></div>
            <div class="shade-shift-4"></div>
            <div class="shade-shift-5"></div>
        </div>
        <div class="color-specs">
            <h4>Secondary Color</h4>
            <h4>Azalea Red</h4>
            <h4>#c52d2f</h4>
        </div>
    </div>

    <div class="color-palette-container secondary-color-palette">
        <div class="color-palette"></div>
        <div class="color-palette-shifts">
            <div class="tint-shift-1"></div>
            <div class="tint-shift-2"></div>
            <div class="tint-shift-3"></div>
            <div class="tint-shift-4"></div>
            <div class="tint-shift-5"></div>
        </div>
        <div class="color-palette-shifts">
            <div class="shade-shift-1"></div>
            <div class="shade-shift-2"></div>
            <div class="shade-shift-3"></div>
            <div class="shade-shift-4"></div>
            <div class="shade-shift-5"></div>
        </div>
        <div class="color-specs">
            <h4>Secondary Color</h4>
            <h4>Slate Grey</h4>
            <h4>#393b44</h4>
        </div>
    </div>

    <div class="color-palette-container grayscale-color-palette">
        <div class="color-palette"></div>
        <div class="color-palette-shifts">
            <div class="tint-shift-1"></div>
            <div class="tint-shift-2"></div>
            <div class="tint-shift-3"></div>
            <div class="tint-shift-4"></div>
            <div class="tint-shift-5"></div>
        </div>
        <div class="color-palette-shifts">
            <div class="shade-shift-1"></div>
            <div class="shade-shift-2"></div>
            <div class="shade-shift-3"></div>
            <div class="shade-shift-4"></div>
            <div class="shade-shift-5"></div>
        </div>
        <div class="color-specs">
            <h4>Grayscale Color</h4>
            <h4>Grayscale</h4>
            <h4>#444444</h4>
        </div>
    </div>
</div>
