//
// Variables
// -----------

//
// Gutter modular scales
// -----------------------
$gutter-scale-4: golden-ratio($gutter, -4); // 0.23608em
$gutter-scale-3: golden-ratio($gutter, -3); // 0.38198em
$gutter-scale-2: golden-ratio($gutter, -2); // 0.61805em
$gutter-scale-1: golden-ratio($gutter, -1); // 1em
$gutter-scale:   golden-ratio($gutter, 0); // 1.618em
$gutter-scale1:  golden-ratio($gutter, 1); // 2.61792em
$gutter-scale2:  golden-ratio($gutter, 2); // 4.2358em
$gutter-scale3:  golden-ratio($gutter, 3); // 6.85353em
$gutter-scale4:  golden-ratio($gutter, 4); // 11.08901em

//
// Site colour palette
// --------------------------
$luke-blue: #00b4ff;
$everywhere-blue: #4294f0;
$azalea-red: #c52d2f;
$slate-gray: #393b44;
$grayscale: #444444;

$primary-color: $everywhere-blue;
$secondary-color: $slate-gray;
$grayscale-color: $slate-gray;

// color palette variations (tint and shades)
$primary-color-tint-1: tint($primary-color, 15%);
$primary-color-tint-2: tint($primary-color, 25%);
$primary-color-tint-3: tint($primary-color, 35%);
$primary-color-tint-4: tint($primary-color, 55%);
$primary-color-tint-5: tint($primary-color, 65%);
$primary-color-shade-1: darken($primary-color, 10%);
$primary-color-shade-2: darken($primary-color, 20%);
$primary-color-shade-3: darken($primary-color, 25%);
$primary-color-shade-4: darken($primary-color, 30%);
$primary-color-shade-5: darken($primary-color, 35%);

$secondary-color-tint-1: tint($secondary-color, 5%);
$secondary-color-tint-2: tint($secondary-color, 15%);
$secondary-color-tint-3: tint($secondary-color, 30%);
$secondary-color-tint-4: tint($secondary-color, 45%);
$secondary-color-tint-5: tint($secondary-color, 55%);
$secondary-color-shade-1: shade($secondary-color, 5%);
$secondary-color-shade-2: shade($secondary-color, 15%);
$secondary-color-shade-3: shade($secondary-color, 30%);
$secondary-color-shade-4: shade($secondary-color, 45%);
$secondary-color-shade-5: shade($secondary-color, 55%);

$grayscale-color-tint-1: tint($grayscale-color, 5%);
$grayscale-color-tint-2: tint($grayscale-color, 15%);
$grayscale-color-tint-3: tint($grayscale-color, 45%);
$grayscale-color-tint-4: tint($grayscale-color, 80%);
$grayscale-color-tint-5: tint($grayscale-color, 85%);
$grayscale-color-tint-6: tint($grayscale-color, 95%);
$grayscale-color-tint-7: tint($grayscale-color, 99%);
$grayscale-color-shade-1: shade($grayscale-color, 1%);
$grayscale-color-shade-2: shade($grayscale-color, 15%);
$grayscale-color-shade-3: shade($grayscale-color, 35%);
$grayscale-color-shade-4: shade($grayscale-color, 55%);
$grayscale-color-shade-5: shade($grayscale-color, 85%);

//
// Sticky footer instance variables
// --------------------------
$footer-content-simple-height: 210px;
$documentation-layout-sticky-footer-height: $footer-content-simple-height;
$page-layout-sticky-footer-height: $footer-content-simple-height;


//
// Typography colors variables
// -----------------------------
$link-color:          $primary-color-shade-1;
$link-visited-color:  $primary-color-shade-2;
$link-hover-color:    $primary-color-tint-4;
$link-active-color:   $primary-color-shade-1;

$horizontal-rule-color: $grayscale-color-tint-4;
$brand-text-color:      $secondary-color-tint-5;


//
// Override Pussshy variables
// --------------------------

$pussshy-menu-width: 340px;
$pussshy-menu-item-link-padding: $gutter-scale-2  $gutter-scale;

$pussshy-menu-item-link-color:                    $secondary-color-tint-5;

$pussshy-menu-item-link-hover-color:              $grayscale-color-tint-5;
$pussshy-menu-item-link-hover-background-color:   $primary-color;

$pussshy-menu-item-link-active-color:             $grayscale-color-tint-5;
$pussshy-menu-item-link-active-background-color:  $secondary-color-tint-2;

$pussshy-menu-background-color:                   $grayscale-color-shade-3;
$pussshy-menu-box-shadow-color:                   $grayscale-color-shade-5;

$pussshy-menu-item-link-border-top:               1px solid rgba(255, 255, 255, .1) !default;
$pussshy-menu-item-link-border-bottom:            1px solid rgba(0, 0, 0, .1) !default;

$pussshy-site-overlay-color: rgba(0,0,0,0.5) !default;
